<!DOCTYPE html>
<html>
  <%- include('_head', {meta: {title: "osc app demo"}}) %>
  <body>
    <h2>Tap Tiles!</h2>
    <ul id="tiles">
      <li>
        <div>
          <span class="address">/address</span>
          <span class="msg">foo</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">bar</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">hello!</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">1</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">2</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">3</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">4</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">5</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">wow!</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">on</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">off</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">get</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">start</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">stop</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">bye!</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">100</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">1000</span>
          <span class="log"></span>
        </div>
      </li><li>
        <div>
          <span class="address">/address</span>
          <span class="msg">-1</span>
          <span class="log"></span>
        </div>
      </li>
    </ul>
    <hr>
    <a href="/">Back to home</a>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/demo.js"></script>
  </body>
</html>