<!DOCTYPE html>
<html>
  <%- include('_head', {meta: {title: "osc app"}}) %>
  <body>
    <h1>OSC app</h1>
    <a href="/demo">go to controller demo</a>
    <form id="osc_form" action="#">
      <h3>Send osc</h3>
      <p>
        <span>address:</span>
        <input id="osc_address" autocomplete="off" placeholder="/address" required/>
      </p>
      <p>
        <span>msg:</span>
        <input id="osc_msg" autocomplete="off" placeholder="message value" required/>
      </p>
      <button type="submit">Send</button>
    </form>
    <hr>
    <form id="message_form" action="#">
      <h3>Send message to server</h3>
      <input id="input_msg" autocomplete="off" required/>
      <button type="submit">Send</button>
    </form>
    <hr>
    <h3>Messages</h3>
    <ul id="messages">
    </ul>
    <script src="/javascripts/main.js"></script>
    <span>v0.01 Atsuya Kobayashi</span>
  </body>
</html>