<!DOCTYPE html>
<html>
  <%- include('_head', {meta: {title: "osc app: throw demo"}}) %>
  <body id="throw-demo">
    <script>
      window.addEventListener("touchstart", function (event) { event.preventDefault(); }, { passive: false });
      window.addEventListener("touchmove", function (event) { event.preventDefault(); }, { passive: false });
      document.body.addEventListener("touchstart", function (event) { event.preventDefault(); }, { passive: false });
      document.body.addEventListener("touchmove", function (event) { event.preventDefault(); }, { passive: false });
    </script>
    <script src="/javascripts/p5.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/throw.js"></script>
    <div id="canvas-wrapper"></div>
    <span id="fullscreen" onclick="document.documentElement.requestFullscreen()"></span>
    <footer id="footer">
      <p id="msg">
        Flick the bubble!
      </p>
    </footer>
  </body>
</html>
